<template>
  <div class="v-main-wrapper">
    <v-tasklist-create-task />
    <v-tasklist />
  </div>
</template>

<script>
import vTasklist from "./v-tasklist.vue";
import VTasklistCreateTask from "./v-tasklist-create-task.vue";
export default {
  components: { vTasklist, VTasklistCreateTask },
  name: "v-main-wrapper",
};
</script>

<style>
.v-main-wrapper {
}
</style>