<template>
  <div class="v-tasklist">
    <v-tasklist-item
      v-show="tasks.length >= 1"
      v-for="task in tasks"
      :key="task.id"
      :task_data="task"
    />
  </div>
</template>

<script>
import vTasklistItem from "./v-tasklist-item";
import Bus from "../eventbus";

export default {
  name: "v-tasklist",
  components: {
    vTasklistItem,
  },
  data() {
    return {
      tasks: [],
      maxid: 0,
    };
  },
  created() {
    const storageTasks = JSON.parse(localStorage.getItem("tasks"));
    if (storageTasks.length > 0) {
      this.maxid = storageTasks[storageTasks.length - 1].id + 1;
      this.tasks = storageTasks;
    }
  },
  mounted() {
    Bus.$on("addTask", (taskname) => {
      this.maxid += 1;
      this.tasks.push({
        id: this.maxid,
        name: taskname,
      });
    });
    Bus.$on("deleteTask", (taskid) => {
      for (var i = this.tasks.length - 1; i >= 0; --i) {
        if (this.tasks[i].id == taskid) {
          this.tasks.splice(i, 1);
        }
      }
    });
    Bus.$on("saveTasks", () => {
      localStorage.setItem("tasks", JSON.stringify(this.tasks));
    });
  },
  watch: {
    tasks(newTasks) {
      localStorage.setItem("tasks", JSON.stringify(newTasks));
    },
  },
};
</script>

<style>
.v-tasklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 70%;
}
</style>