<template>
  <div class="v-tasklist-create-task">
    <input
      @keyup.enter="addTask"
      type="text"
      maxlength="50"
      class="v-tasklist-create-task__taskname"
      v-model="task"
      placeholder="Введите задачу"
    />
    <button class="v-tasklist-create-task__addtaskbutton btn" @click="addTask">
      +
    </button>
  </div>
</template>

<script>
import Bus from "../eventbus.js";
export default {
  name: "v-tasklist-create-task",
  components: {},
  data() {
    return {
      task: "",
    };
  },
  methods: {
    addTask() {
      if (this.task.trimStart() !== "") {
        Bus.$emit("addTask", this.task);
      }
      this.task = "";
    },
  },
};
</script>

<style>
.v-tasklist-create-task {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.v-tasklist-create-task__taskname {
  font-size: 25px;
  text-align: center;
  width: 70%;
  height: 40px;
}

.v-tasklist-create-task__addtaskbutton {
  border: none;
  box-shadow: 0 0 8px 0;
  width: 5rem;
  background-color: blueviolet;
  font-size: 30px;
  color: white;
  margin-left: 10px;
}
</style>