<template>
  <div class="v-tasklist-item">
    <b class="v-catalog-item__taskid">&#128293;</b>
    <input
      type="text"
      maxlength="50"
      ref="taskname_input"
      class="v-catalog-item__taskname"
      v-on:keyup.enter="editTask"
      v-model="tmpTaskname"
    />
    <button class="v-catalog-item__edittask" v-on:click="editTask">
      &#9997;
    </button>
    <button class="v-catalog-item__deletetask" v-on:click="deleteTask">
      &#10060;
    </button>
  </div>
</template>

<script>
import Bus from "../eventbus.js";

export default {
  name: "v-tasklist-item",
  props: {
    task_data: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      tmpTaskname: this.task_data.name,
    };
  },
  methods: {
    deleteTask: function () {
      if (confirm("Вы уверены что хотите удалить задачу?")) {
        Bus.$emit("deleteTask", this.task_data.id);
      }
    },
    editTask: function () {
      if (this.tmpTaskname.trimStart() == "") {
        alert("Задание не может быть пустым");
        return;
      }
      this.task_data.name = this.tmpTaskname;
      Bus.$emit("saveTasks");
    },
  },
};
</script>

<style>
.v-tasklist-item {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  padding: 0 30px 0 30px;
  height: 50px;
  width: 80%;
  box-shadow: 0 0 8px 0;
}
.v-catalog-item__taskid {
  color: #e91e63;
}
.v-catalog-item__taskname {
  border: none;
  margin-left: 50px;
  width: 80%;
  font-size: 22px;
}

.v-catalog-item__edittask {
  margin-left: auto;
}
.v-catalog-item__deletetask,
.v-catalog-item__edittask {
  border: none;
  font-size: 20px;
  background-color: white;
}
</style>